body {
    font-family: cursive, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ad5858;
  }
  
  header, nav, main, footer {
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  nav {
    background-color: #444;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  main {
    background-color: #fff;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: n;
    padding-bottom: 20px;
  }
  .logout-button {
    position: absolute;
    font-size: larger;
    top: 10px;
    right: 10px;
    background-color:  #333;
    color:white;
  }